alembic==1.8.1
amqp==5.1.1
async-timeout==4.0.2
attrs==22.1.0
billiard==3.6.4.0
black==22.10.0
blinker==1.5
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coverage==6.5.0
flake8==6.0.0
Flask==2.2.2
Flask-DB==0.3.2
Flask-DebugToolbar==0.13.1
Flask-Secrets==0.1.0
Flask-SQLAlchemy==3.0.2
Flask-Static-Digest==0.2.1
greenlet==2.0.1
gunicorn==20.1.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.2.4
Mako==1.2.4
MarkupSafe==2.1.1
mccabe==0.7.0
mypy-extensions==0.4.3
packaging==22.0
pathspec==0.10.2
platformdirs==2.6.0
pluggy==1.0.0
prompt-toolkit==3.0.36
psycopg2==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.0
pytest-cov==4.0.0
pytz==2022.6
redis==4.4.0
six==1.16.0
SQLAlchemy==1.4.44
SQLAlchemy-Utils==0.38.3
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.2
