Flask==3.0.0
werkzeug==3.0.1
jinja2==3.1.2
gunicorn==21.2.0

psycopg==3.1.14
SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.41.1
Flask-SQLAlchemy==3.1.1
alembic==1.13.0

redis==5.0.1
celery==5.3.6

pytest==7.4.3
pytest-cov==4.1.0
flake8==6.1.0
isort==5.12.0
black==23.11.0

flask-debugtoolbar==0.14.1
Flask-Static-Digest==0.4.0
Flask-Secrets==0.1.0
Flask-DB==0.4.0
