Flask==2.2.2
werkzeug==2.2.2
jinja2==3.1.2
gunicorn==20.1.0

psycopg2==2.9.5
SQLAlchemy==1.4.44
SQLAlchemy-Utils==0.38.3
Flask-SQLAlchemy==3.0.2
alembic==1.8.1

redis==4.4.0
celery==5.2.7

pytest==7.2.0
pytest-cov==4.0.0
flake8==6.0.0
isort==5.10.1
black==22.10.0

flask-debugtoolbar==0.13.1
Flask-Static-Digest==0.2.1
Flask-Secrets==0.1.0
Flask-DB==0.3.2
