Flask==3.1.0
Werkzeug==3.1.3
Jinja2==3.1.5
gunicorn==23.0.0

psycopg==3.2.4
SQLAlchemy==2.0.37
SQLAlchemy-Utils==0.41.2
Flask-SQLAlchemy==3.1.1
alembic==1.14.1

redis==5.2.1
celery==5.4.0

pytest==8.3.4
pytest-cov==6.0.0
flake8==7.1.1
isort==5.13.2
black==24.10.0

Flask-DebugToolbar==0.16.0
Flask-Static-Digest==0.4.1
Flask-Secrets==0.1.0
Flask-DB==0.4.1

setuptools==75.8.0
